html
{
	height: 100%;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

div
{
	height: 100%;
}

img
{
	max-width: 100%;
	width: auto;
	height: auto;
}

div#navcol
{
	float: left;
	width: auto;
	height: 100%;
	color: #000;
	background-color: #2BE;
}

div#content
{
	float: none;
	width: auto;
	color: #000;
	background-color: #FFF;
}

div#sidecol /* this needs fixed (or layout scrapped/redone) before we can use it for listing online players.. */
{
	float: right;
	width: 4%;
	color: #000;
	background-color: #FFF;
}

@media only screen and (max-width: 640px)
{
	div#navcol
	{
		float: none;
		width: 100%;
	}

	div#content
	{
		float: none;
		width: 100%;
	}

	div#sidecol
	{
		float: none;
		width: 0%;
	}
}

div#navproper
{
	padding-top: 9px;
	padding-left: 3px;
	padding-right: 5px;
}

div#contproper
{
	padding-top: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

div#sideproper
{
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 3px;
}

div#container
{
	color: inherit;
	background-color: #FFF;
}

div#header
{
	font-size: 85%;
	text-align: center;
	height: 4.8%; /* any less breaks mobile site */
	color: #000;
	background-color: #2BE;
}

div#footer
{
	clear: both;
	color: #000;
	background-color: #FFF;
}
