body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
header {
	display: flex;
	flex-direction: row;
	height: 5vh;
}
header > div {
	flex: 1;
}
body > div {
	display: flex;
	flex-direction: row;
	flex: 1;
}
body > div > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}
body > div > div > div {
	display: flex;
	flex-direction: row;
	flex: 1;
}
body > div > div > div > nav {
	width: 10vw;
}
body > div > div > div > main {
	flex: 1;
}
body > div > div > footer {
	height: 20vh;
}
body > div > aside {
	width: 10vw;
}
